input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.row-highlight-r {
    background-color: rgba(249, 169, 95, 0.849) !important;
}
.row-highlight-g {
    background-color: rgba(95, 249, 164, 0.849) !important;
}
.hdr-img{
    width: 448px;
    height: 296px;
    overflow: hidden;
}